<div id="successTopicTextDiv">
    <p id="successTopicText">
        Seu tópico foi enviado com sucesso! :D
    </p>
</div>
<div id="thankYouTextDiv">
    <p id="thankYouText">
        Agradecemos por sua contribuição, uma notificação será enviada ao seu email assim que seu tópico for respondido!
    </p>
</div>
<div id="findMoreTextDiv">
    <p id="findMoreText">
        <u>Descubra outros trabalhos!</u>
    </p>
</div>
<button class="btn-create-new-topic">
    <p id="createNewTopicText">
        criar novo tópico
    </p>
</button>

<div id="waitingFeedbackDiv">

</div>

<div class="topicDiv">
    <div class="topicHeader">
      <p class="topicTitle">
        Assunto da pergunta aparece aqui
      </p>
      <p class="nameOfWhoAsked">
        Carlos Henrique Santos
      </p>
    </div>
    <div class="topicBody">
      <p class="topicBodyText">
        Comecinho da pergunta aparece aqui resente relato inscreve-se no campo da análise da dimensão 
        e impacto de processo formativo situado impacto de processo formativo processo...
      </p>
    </div>
    <div class="topicFooter">
      <img src="../assets/moreInfos.png" alt="moreInfo" width="4px" height="18px">
      <button class="likeBttn">
        <span class="fas fa-heart" id="likeIcon"></span>
      </button>
      <p class="likeText">
        1 like
      </p>
      <p class="answerBttnText">
        1 resposta
      </p>
    </div>
</div>
