<div id="successTopicTextDiv">
    <p id="successTopicText">
        Seu tópico foi enviado com sucesso! :D
    </p>
</div>
<div id="thankYouTextDiv">
    <p id="thankYouText">
        Agradecemos por sua contribuição, uma notificação será enviada ao seu email assim que seu tópico for respondido!
    </p>
</div>
<div id="findMoreTextDiv">
    <p id="findMoreText">
        <u>Descubra outros trabalhos!</u>
    </p>
</div>
<button class="btn-create-new-topic">
    <p id="createNewTopicText">
        criar novo tópico
    </p>
</button>

<div id="waitingFeedbackDiv">

</div>

