<body>
  <!-- Side navigation-->
  <aside  class="sidenav">
    <div id="titleDiv">
      <p id="sidebarTitle">SLACA 2019</p>
    </div>
    <img src="../assets/SlacaLogo.png" alt="" width="220px" height="258px">
    <div id="buttonDiv">
      <div class="hoverOrganizer">
        <div class="hiddenRetangle"></div>
        <a href="">Apresentação</a>
      </div>
      <div class="hoverOrganizer">
        <div class="hiddenRetangle"></div>
        <a href="">Comitês</a>
      </div>
      <div class="hoverOrganizer">
        <div class="hiddenRetangle"></div>
        <a href="">Autores</a>
      </div>
      <div class="hoverOrganizer">
        <div class="hiddenRetangle"></div>
        <a href="">Eixos temáticos</a>
      </div>
      <div class="hoverOrganizer">
        <div class="hiddenRetangle"></div>
        <a href="">Trabalhos</a>
      </div>
      <div class="hoverOrganizer">
        <div class="hiddenRetangle"></div>
        <a href="">Contato</a>
      </div>
    </div>
  </aside>

  <!-- Header -->
  <header>
    <div id="headerTextDiv">
      <p id="firstParagraph">Anais do Simpósio Latino Americano de Ciências de Alimentos</p>
      <h2>Anais do 13º Simpósio Latino Americano de Ciência de Alimentos</h2>
      <p id="secondParagraph">ISSN: 1234-5678</p>
    </div>
    <select id="languageSelect">
      <i class="fas fa-globe"></i>
      <option value="#">&nbsp;&nbsp;&nbsp; PT, BR</option>
      <option value="#">&nbsp;&nbsp;&nbsp; ENG</option>
    </select>
    <div id="headerUserDiv">
      <p id="welcomeText">Bem vindo!</p>
      <p id="emailText">alguem12@galoascience.com</p>
    </div>
    <img id="pictureProfile" src="../assets/pictureProfile.jpg" alt="" width="30.3px">
    <div id="notificationBadge">
      <p id="badgeText">
        2
      </p>
    </div>
  </header>

  <!-- Main Content -->
  <main>
    <div id="mainTitleDiv">
      <h2>Análise sensorial de preparações funcionais desenvolvidas para escolares entre 09 e 15 anos, do município de Campinas/SP</h2>
    </div>
    <button id="downloadBttn">
      <span class="fas fa-download" id="downloadIcon"></span>
      <p id="downloadTxt">Download</p>
    </button>
    <button id="favoriteBttn">
      <span class="fas fa-star" id="favoriteIcon"></span>
    </button>
    <button id="doiBttn">
      <img src="../assets/doiImage.png" alt="doi" width="19rem" height="19rem" id="doiImg">
    </button>
    <div id="ComoCitarDiv">
      <p id="ComoCitarTxt">COMO CITAR ESSE TRABALHO?</p>
    </div>
    <aside id="detailsDiv">
      <div id="detailsHeader">
        <p id="detailsTitle">Detalhes</p>
      </div>
      <div id="detailsTextDiv">
        <p id="detailsText">Tipo de Apresentação: <span>Pôster</span> <br>
          Eixo temático: <span>Alimentação e saúde (AS)</span> <br>
          Palavras-chaves: <span>Alimentos funcionais, alimentação escolar.</span> <br>
          <br>
          <span>Autores:</span><br>
          <span>Galileo Galilei</span><span>¹</span><br>
          <span>Berta Lange de Morretes</span><span>²</span><br>
          <span>Isaac Newton</span><span>³</span><br>
          <span>Cesar Lattes</span><span>¹</span><br>
          <span>Stephen Hawking</span><span>⁴</span><br>
          <br><br><br>
          <span>¹Universidade Estadual de Campinas<br>
          ²Universidade de São Paulo<br>
          ³Instituto Nacional de Pesquisas Espaciais<br>
          ⁴Universidade Federal do Rio de Janeiro</span></p>
          <br><br><br>
      </div>
    </aside>
    <iframe width="784px" height="439px" id="videoPlayer"
    src="https://www.youtube.com/embed/qKaZsgWrIOs?si=kINMXFICCG6tTVtO" 
    title="YouTube video player" 
    frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
    referrerpolicy="strict-origin-when-cross-origin" 
    allowfullscreen>
  </iframe>
  <section id="resumeDiv">
    <div id="resumeHeaderDiv">
      <p id="resumeTitle">Resumo</p>
    </div>
    <div id="resumeTextDiv">
      <app-show-more-button></app-show-more-button>
    </div>
  </section>
  <section id="discussionsDiv">
    <div id="discussionsHeaderDiv">
      <p id="discussionsTitle">Discussões</p>
      <p id="compartilheText">Compartilhe suas ideias ou dúvidas com os autores!</p>
      <div id="iconsDiv">
        <img src="../assets/icon1.png" alt="icon1" width="50.26px" height="48.94" id="icon1">
        <img src="../assets/icon2.png" alt="icon1" width="50.26px" height="48.94" id="icon1">
        <img src="../assets/icon3.png" alt="icon1" width="50.26px" height="48.94" id="icon1">
      </div>
      <div id="discussionTextDiv">
        <p id="discussionText">
          Sabia que o maior estímulo no desenvolvimento científico e cultural é a curiosidade? 
          Deixe seus questionamentos ou sugestões para o autor!
        </p>
      </div>
      <button class="btn-create-topic">
        <span id="plusIcon">+</span>
        <p id="createTopicText">
          criar tópico
        </p>
      </button>
    </div>
  </section>
  </main>
</body>



