/* Sidebar Menu */
.sidenav {
  height: 100%;
  width: 13.750rem;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  background-color: white;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

#titleDiv {
  background: linear-gradient(#FFB354, #EE7A3A);
  text-align: center;
  align-content: center;
  width: 13.75rem;
  height: 4.25rem;
}

#sidebarTitle {
  color: white;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 1.9rem;
  font-weight: 700;
  line-height: 2.2rem;
}

#buttonDiv {
  display: flex;
  flex-direction: column;
  align-items: right;
}

.sidenav a {
  text-decoration: none;
  color: #725C5C;
  font-family: 'Quicksand', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.7rem;
  padding-left: 1.5em;
  padding-top: 0.43em;
  padding-bottom: 0.43em;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  width: 100%;
}

.hiddenRetangle {
  background: linear-gradient(#FFB455, #ED7839);
  width: 0.31rem;
  height: 2.06rem;
  display: none;
}

.hoverOrganizer {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  box-sizing: border-box;
  width: 13.75rem;
  height: 2.06rem;
  margin-bottom: 0.125rem;
}

.hoverOrganizer:hover {
  background: #FDF1EB;
}

.hoverOrganizer:hover .hiddenRetangle {
  display: block;
}

/* Header */
header {
  position: absolute;
  background: #FDF1EB;
  width: 71.625rem;
  height: 4.25rem;
  left: 13.75em;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: none;
}

#headerTextDiv {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 643px;
  height: 4.25rem;
  margin-left: 2.25rem;
}

#firstParagraph {
  color: #725C5C;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.026rem;
  margin-top: 0.313em;
  margin-bottom: 0;
}

header h2 {
  color: #725C5C;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.375rem;
  line-height: 1.026rem;
  margin-top: 0.188em;
  margin-bottom: 0;
}

#secondParagraph {
  color: #725C5C;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.026rem;
  margin-top: 0.40em;
}

select {
  font-family: 'Quicksand', 'FontAwesome', 'Second Font name';
}

#languageSelect {
  background: #FDF1EB;
  width: 6.06rem;
  height: 2.125rem;
  margin-left: 6.875rem;
  margin-top: 1.063rem;
  border-radius: 3px;
  border-width: 1px;
  border-color: #CCCCCC;
}

#headerUserDiv {
  width: 10.731rem;
  height: 2.125rem;
  margin-left: 1.375rem;
  margin-top: 1.063rem;
}

#welcomeText {
  color: #333333;
  font-family: 'Quicksand', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.094rem;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 5.688rem;
}

#emailText {
  color: #333333;
  font-family: 'Quicksand', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 0.938rem;
  margin-top: 0;
  margin-bottom: 0;
}

#pictureProfile {
  float: right;
  border-radius: 50%;
  margin-top: 1.168rem;
}

#notificationBadge {
  position: absolute;
  background: #F85959;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  margin-top: 1.063rem;
  margin-left: 68.625rem;
}

#badgeText {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 0.625rem;
  line-height: 0.733rem;
  color: white;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0.188rem;
}

/* Main content */
main {
  position: absolute;
  left: 0;
  top: 0;
  width: 66.188rem;
  height: 86.375rem;
  margin-left: 16.438rem;
  margin-top: 5.5rem;
}

#mainTitleDiv {
  width: 49.125rem;
  height: 3.375rem;
}

main h2 {
  color: #ED7839;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 1.25rem;
  line-height: 1.563rem;
  letter-spacing: 0.05em;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

#downloadBttn {
  position: absolute;
  background: #ED7839;
  width: 7.5rem;
  height: 1.938rem;
  top: 0;
  margin-left: 52.625rem;
  border-radius: 0.25rem;
  border-width: 0.063rem;
  border-color: rgba(0, 0, 0, 0);
}

#downloadIcon {
  position: absolute;
  color: rgba(255, 255, 255, 1);
  top: 0;
  left: 0;
  margin-top: 0.2rem;
  margin-left: 0.75rem;
  font-size: 1rem;
  line-height: 1.38rem;
  letter-spacing: 0.01em;
}

#downloadTxt{
  position: absolute;
  left: 0;
  top: 0;
  color: rgba(255, 255, 255, 1);
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.172rem;
  margin-left: 2.25rem;
  margin-top: 0.425em;
}

#favoriteBttn {
  position: absolute;
  background: #ED7839;
  width: 2.688rem;
  height: 1.938rem;
  top: 0;
  margin-left: 60.438rem;
  border-radius: 0.25rem;
  border-width: 0.063rem;
  border-color: rgba(0, 0, 0, 0);
}

#favoriteIcon {
  color: rgba(255, 255, 255, 1);
  font-size: 1rem;
  font-weight: 900;
  line-height: 1.38rem;
  letter-spacing: 0.01em;
}

#doiBttn {
  position: absolute;
  background: #ED7839;
  width: 2.688rem;
  height: 1.938rem;
  top: 0;
  margin-left: 63.438rem;
  border-radius: 0.25rem;
  border-width: 0.063rem;
  border-color: rgba(0, 0, 0, 0);
}

#doiImg {
  margin-top: 0.2rem;
}

#ComoCitarDiv {
  position: absolute;
  top: 0;
  left: 0;
  width: 14.938rem;
  height: 1.563rem;
  margin-left: 51.25rem;
  margin-top: 2.688rem;
}

#ComoCitarTxt {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: rgba(237, 120, 57, 1);
  margin-top: 0;
  margin-bottom: 0;
  float: right;
  font-weight: 500;
  font-size: 0.875rem;
  
  letter-spacing: 0.05em;
}

#detailsDiv {
  position: absolute;
  top: 0;
  left: 0;
  width: 15.125rem;
  height: 27.438rem;
  margin-left: 51rem;
  margin-top: 4.563rem;
  border-radius: 0.188rem 0.188rem 0 0;
  border-color: rgba(236, 236, 236, 1);
  border-style: solid;
  border-width: 0.063rem;
}

#detailsHeader {
  background: rgba(253, 241, 235, 1);
  width: 15.125rem;
  height: 2.813rem;
  border-radius: 0.188rem 0.188rem 0 0;
  border-color: rgba(236, 236, 236, 1);
  border-style: solid;
  border-width: 0.063rem;
}

#detailsTitle {
  margin: 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.563rem;
  color: rgba(78, 78, 78, 1);
  padding-left: 1.10rem;
  padding-top: 0.688rem;
}

#detailsTextDiv {
  width: 13.25rem;
  height: 22.75rem;
  margin: 0.938rem;
  overflow: hidden;
  overflow-y: scroll;
}

#detailsTextDiv::-webkit-scrollbar {
  background: rgb(219, 204, 204);
  width: 0.188rem;
  height: 22.938rem;
  border-radius: 0.313rem;
}

#detailsTextDiv::-webkit-scrollbar-thumb {
  background: rgb(182, 174, 174);
  border-radius: 0.313rem;
}

#detailsText {
  font-family: 'Quicksand', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 0.9rem;
  letter-spacing: 0.02em;
  color: rgba(92, 92, 92, 1);
  break-before: 100px;
}

// Pôster
#detailsText > span:nth-of-type(1) {
  font-weight: 700;
}

// Alimentação e saúde (AS)
#detailsText > span:nth-of-type(2) {
  font-weight: 700;
}

// Alimentos funcionais, alimentação escolar.
#detailsText > span:nth-of-type(3) {
  font-weight: 700;
}

// Autores
#detailsText > span:nth-of-type(4) {
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.05rem;
}

// Galileo Galilei
#detailsText > span:nth-of-type(5) {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.05rem;
}

// ¹
#detailsText > span:nth-of-type(6) {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 0.75rem;
  color: rgb(173, 160, 160);
}

// Berta Lange de Morretes
#detailsText > span:nth-of-type(7) {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.05rem;
}

// ²
#detailsText > span:nth-of-type(8) {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 0.75rem;
  color: rgb(173, 160, 160);
}

// Isaac Newton
#detailsText > span:nth-of-type(9) {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.05rem;
}

// ³
#detailsText > span:nth-of-type(10) {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 0.75rem;
  color: rgb(173, 160, 160);
}

// Cesar Lattes
#detailsText > span:nth-of-type(11) {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.05rem;
}

// ¹
#detailsText > span:nth-of-type(12) {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 0.75rem;
  color: rgb(173, 160, 160);
}

// Stephen Hawking
#detailsText > span:nth-of-type(13) {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.05rem;
}

// ⁴
#detailsText > span:nth-of-type(14) {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 0.75rem;
  color: rgb(173, 160, 160);
}

// Universidade Estadual de Campinas...
#detailsText > span:nth-of-type(15) {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 0.75rem;
  color: rgb(173, 160, 160);
}

#videoPlayer {
  position: absolute;
  top: 0;
  margin-top: 4.563rem;
}

#resumeDiv {
  display: inline-block;
  top: 0;
  width: 66.125rem;
  height: fit-content;
  margin-top: 33.875rem;
  border-style: solid;
  border-color: rgba(236, 236, 236, 1);
  border-width: 0.063rem;
  border-radius: 0.188rem;
  overflow: hidden;
}

#resumeHeaderDiv {
  background: rgba(253, 241, 235, 1);
  width: 66.125rem;
  height: 2.813rem;
  border-style: solid;
  border-color: rgba(236, 236, 236, 1);
  border-width: 0.063rem;
  border-radius: 0.188rem 0.188rem 0 0;
}

#resumeTitle {
  color: rgba(78, 78, 78, 1);
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.563rem;
  margin: 0;
  margin-left: 0.938rem;
  margin-top: 0.625rem;
}

#resumeTextDiv {
  display: inline-block;
  width: 64.25rem;
  height: fit-content;
  margin: 0.938rem;
  overflow: hidden;
}

#discussionsDiv {
  background-color: pink;
  top: 0;
  width: 66.125rem;
  height: 38.813rem;
  margin-top: 1.875rem;
}
