<body>
  <!-- Side navigation-->
  <aside  class="sidenav">
    <div id="titleDiv">
      <p id="sidebarTitle">SLACA 2019</p>
    </div>
    <img src="../assets/SlacaLogo.png" alt="" width="220px" height="258px">
    <div id="buttonDiv">
      <div class="hoverOrganizer">
        <div class="hiddenRetangle"></div>
        <a href="">Apresentação</a>
      </div>
      <div class="hoverOrganizer">
        <div class="hiddenRetangle"></div>
        <a href="">Comitês</a>
      </div>
      <div class="hoverOrganizer">
        <div class="hiddenRetangle"></div>
        <a href="">Autores</a>
      </div>
      <div class="hoverOrganizer">
        <div class="hiddenRetangle"></div>
        <a href="">Eixos temáticos</a>
      </div>
      <div class="hoverOrganizer">
        <div class="hiddenRetangle"></div>
        <a href="">Trabalhos</a>
      </div>
      <div class="hoverOrganizer">
        <div class="hiddenRetangle"></div>
        <a href="">Contato</a>
      </div>
    </div>
  </aside>

  <!-- Header -->
  <header>
    <div id="headerTextDiv">
      <p id="firstParagraph">Anais do Simpósio Latino Americano de Ciências de Alimentos</p>
      <h2>Anais do 13º Simpósio Latino Americano de Ciência de Alimentos</h2>
      <p id="secondParagraph">ISSN: 1234-5678</p>
    </div>
    <select id="languageSelect">
      <i class="fas fa-globe"></i>
      <option value="#">&nbsp;&nbsp;&nbsp; PT, BR</option>
      <option value="#">&nbsp;&nbsp;&nbsp; ENG</option>
    </select>
    <div id="headerUserDiv">
      <p id="welcomeText">Bem vindo!</p>
      <p id="emailText">alguem12@galoascience.com</p>
    </div>
    <img id="pictureProfile" src="../assets/pictureProfile.jpg" alt="" width="30.3px">
    <div id="notificationBadge">
      <p id="badgeText">
        2
      </p>
    </div>
  </header>

  <!-- Main Content -->
  <main>
    <div id="mainTitleDiv">
      <h2>Análise sensorial de preparações funcionais desenvolvidas para escolares entre 09 e 15 anos, do município de Campinas/SP</h2>
    </div>
    <button id="downloadBttn">
      <span class="fas fa-download" id="downloadIcon"></span>
      <p id="downloadTxt">Download</p>
    </button>
    <button id="favoriteBttn">
      <span class="fas fa-star" id="favoriteIcon"></span>
    </button>
    <button id="doiBttn">
      <img src="../assets/doiImage.png" alt="doi" width="19rem" height="19rem" id="doiImg">
    </button>
    <div id="ComoCitarDiv">
      <p id="ComoCitarTxt">COMO CITAR ESSE TRABALHO?</p>
    </div>
    <aside id="detailsDiv">
      <div id="detailsHeader">
        <p id="detailsTitle">Detalhes</p>
      </div>
      <div id="detailsTextDiv">
        <p id="detailsText">Tipo de Apresentação: <span>Pôster</span> <br>
          Eixo temático: <span>Alimentação e saúde (AS)</span> <br>
          Palavras-chaves: <span>Alimentos funcionais, alimentação escolar.</span> <br>
          <br>
          <span>Autores:</span><br>
          <span>Galileo Galilei</span><span>¹</span><br>
          <span>Berta Lange de Morretes</span><span>²</span><br>
          <span>Isaac Newton</span><span>³</span><br>
          <span>Cesar Lattes</span><span>¹</span><br>
          <span>Stephen Hawking</span><span>⁴</span><br>
          <br><br><br>
          <span>¹Universidade Estadual de Campinas<br>
          ²Universidade de São Paulo<br>
          ³Instituto Nacional de Pesquisas Espaciais<br>
          ⁴Universidade Federal do Rio de Janeiro</span></p>
          <br><br><br>
      </div>
    </aside>
    <iframe width="784px" height="439px" id="videoPlayer"
    src="https://www.youtube.com/embed/qKaZsgWrIOs?si=kINMXFICCG6tTVtO" 
    title="YouTube video player" 
    frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
    referrerpolicy="strict-origin-when-cross-origin" 
    allowfullscreen>
  </iframe>
  <section id="resumeDiv">
    <div id="resumeHeaderDiv">
      <p id="resumeTitle">Resumo</p>
    </div>
    <div id="resumeTextDiv">
      <p class="resumeText">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Phasellus vitae turpis auctor, mollis felis ut, commodo turpis. 
        Phasellus felis mauris, egestas eget cursus et, iaculis quis lacus. 
        Fusce auctor eros sed magna ultricies gravida. 
        Etiam aliquam dictum nisl, vel aliquet enim accumsan sit amet. 
        Donec finibus nisi tellus, ut viverra lorem vestibulum ut. 
        Phasellus condimentum orci id leo condimentum lobortis et non lorem. 
        Sed id nisl metus. Quisque sollicitudin ligula in sapien scelerisque, ac gravida eros vestibulum
        <span id="dots">...</span><span></span><span id="more">.
      
      <p class="resumeText">
        Fusce vitae luctus dui. Donec id euismod mauris, in volutpat urna. Proin dapibus consequat feugiat. Proin dictum justo arcu, quis vestibulum augue lacinia quis. Sed dignissim dui nulla, ut faucibus mauris sodales id. Aliquam erat volutpat. Maecenas dolor enim, tincidunt id elit non, suscipit interdum turpis. Etiam finibus urna libero, eget interdum eros volutpat ullamcorper. Pellentesque et pretium lorem. Aenean interdum quis diam ac porttitor. Cras nec ipsum pulvinar, pharetra libero non, ornare enim. Etiam in laoreet odio.
      </p> 
      <p class="resumeText">  
        Nam eget tristique elit, at fermentum tellus. Mauris scelerisque ligula id eleifend feugiat. Donec eleifend vehicula sem nec dapibus. Integer scelerisque neque dui, in lacinia erat molestie eu. Phasellus maximus dui eget lacus porta tempor. Ut ex nibh, dignissim quis purus semper, efficitur facilisis turpis. Praesent blandit elementum ultricies. Aliquam sit amet enim sit amet nulla pulvinar lobortis consectetur non odio. Phasellus at lacus hendrerit, vulputate nisi sit amet, viverra mauris. Etiam eu scelerisque orci. Quisque sagittis, mi vitae pharetra iaculis, orci elit eleifend massa, eu posuere mauris odio id odio. Morbi eu libero luctus, consectetur lorem vel, interdum sapien. Aenean in porta arcu. Maecenas eu maximus massa.
      </p> 
      <p class="resumeText">
        Praesent velit dolor, dignissim sed quam ac, efficitur porta justo. Pellentesque porta pharetra felis ut hendrerit. Nulla facilisi. Aliquam erat volutpat. Nunc sit amet faucibus quam. Maecenas dapibus luctus dolor at viverra. Duis nec fringilla libero. Duis risus nibh, viverra ac orci nec, iaculis dictum sem. Aliquam at malesuada arcu. Aliquam erat volutpat. Donec varius ipsum purus, ut vehicula purus placerat vitae. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
      </p>
      </span>
      
      <a class="btn-show-more">ver mais</a>
    </div>
  </section>
  </main>
</body>



