<section id="formsDiv" class="animate">
    <div id="shareFeedbackTextDiv">
      <p id="shareFeedbackText">
        Tem uma dúvida ou sugestão? Compartilhe seu feedback com os autores!
      </p>
    </div>

    <form>
      <label for="assunto">Assunto</label><br>
      <input type="text" id="assunto" name="assunto" placeholder="Defina um tópico sucinto para notificar os autores..."><br><br>
      <label for="conteudo">Conteúdo</label><br>
      <textarea name="conteudo" id="conteudo" cols="30" rows="10"></textarea>
    </form>
    <div id="sendFormBttnDiv">
      <button id="sendFormBttn" (click)="onclick()">
        <p id="sendFormBttnText">
          Enviar
        </p>
      </button>
    </div>
  </section>

